@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 5px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
        background-color: white;
        color: #000000;
    }

    .navbar-fixed-top.navbar-shrink li a {
        color: #FFFFFF;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

html {
    overflow-y: scroll;
}

h1 {
    padding-top: 5px;
    color: #000000;
    font: 30px/0 'Gloria Hallelujah';
    margin-bottom: 10px;
}

.navbar-header a {
    text-decoration: none;
}

.navbar {
    font-weight: 700;
    background: white;
    -webkit-box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.38);
    -moz-box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.38);
    box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.38);
}

.button {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.button a {
    padding: 15px;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    text-decoration: none;
}

.navbar a:focus {
    outline: 0;
    text-decoration: none;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar .img-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}