.intro {
    display: table;
    width: 100%;
    height: auto;
    margin-top: 95px;
    padding: 100px 0;
    vertical-align: middle;
    text-align: left;
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 150px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

#upload {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    background: #3498db;
    border: solid 1px #3498db;
    font-size: 15px;
    color: white;
    transition: all .3s ease-in-out;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

#upload:hover {
    color: white;
    border: solid 1px #2980b9;
    background: #2980b9;
}

#id_data_file_upload {
    border: solid 1px gold;
    height: 100px;;
    background: transparent;
}

#upload-file1,
#upload-file2,
#upload-file3 {
    display:  inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 400px;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    border: 1px solid #95a5a6;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #204056;
}

/*#upload-file1:hover,*/
/*#upload-file2:hover,*/
/*#upload-file3:hover {*/
    /*background-color: #81D4FA;*/
    /*color: white;*/
    /*text-align: center;*/

/*}*/

#upload-icon {
    font-size: 70px;
    margin-bottom: 15px;
}

#icon {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#selectedQuestionFiles {
    color: red;
}
