<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SqlLab">
    <meta name="author" content="SqlLab">

    <title>DataScience Demo</title>

    {% load staticfiles %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/linechart.css' %}">
    <link rel="stylesheet" href="{% static 'css/graphdisplay.css' %}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Gloria Hallelujah' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <!-- D3 Line Chart -->
    <script src="{% static 'js/linechart.js' %}"></script>
    <script src="http://mbostock.github.com/d3/d3.v2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="{% url 'upload' %}">
                <h1>IMAGINATIV</h1>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <div class="button">
                        <a href="">My Graphs</a>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <a href="#" target="_blank">Help</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="intro">
    <div class="intro-body">
        <div class="container">

            <div class="dropdown">
                <button class="btn-lg btn-cv" type="button" data-toggle="dropdown">Download Data</button>
                <ul class="dropdown-menu">
                    <li><a href="#">CSV</a></li>
                    <li><a href="#">JSON</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn-lg btn-cv">Download Graph</button>
            </div>

            <div class="dropdown">
                <a href="{% url 'upload' %}">
                    <button class="btn-lg btn-cv">Upload New Image</button>
                </a>
            </div>

            <div class="graph">
                <div id="test1">
                    <svg></svg>
                </div>
            </div>

            <div class="row" style="margin-left: 20px">
                <div class="col-md-4">
                    <div class="table">
                        <table class="table table-bordered" id="table-data">
                            <thead>
                            <tr>
                                <th>Time(ms)</th>
                                <th>Voltage(V)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0</td>
                                <td>0.245</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1.345</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0.245</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1.345</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0.245</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1.345</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Time(ms)</th>
                                <th>Voltage(V)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0</td>
                                <td>0.245</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1.345</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0.245</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1.345</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0.245</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1.345</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Time(ms)</th>
                                <th>Voltage(V)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0</td>
                                <td>0.245</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1.345</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0.245</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1.345</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0.245</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1.345</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3.283</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}
</body>